.rc-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  mask-size: 100% 100%;
}

.rc-icon-plus {
  mask-image: url(./assets/icons/plus.svg);
}

.rc-icon-search {
  mask-image: url(./assets/icons/search.svg);
}

.rc-icon-x-circle {
  mask-image: url(./assets/icons/x-circle.svg);
}
