:root {
  --color-white: #fff;
  --color-primary: #339933;
  --color-gray: #dfdfdf;
  --color-gray-light: #f1f5f5;
  --color-gray-dark: #9fa2b4;
  --color-black: #000;
  --color-secondary: #323a63;
}
